/* 

Estilos de los Layouts

*/

.auth-body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.main-content {
    min-height: 100vh;
    padding: 32px;
    margin-left: 110px;
    transition: margin-left 220ms ease;
}

body.sidebar-open .main-content {
    margin-left: 310px;
}
